html,
body {
  height: 100%;
  /* background-color: lavenderblush; */
  /* overflow: hidden; */
  margin: 0;
}

a {
  color: #0366d6;
}

a:hover {
  color: #2e7bd3;
}

h1 {
  font-size: 2.25rem;
  margin: 2.25rem 0;
}

h2 {
  font-size: 2rem;
  margin: 2rem 0;
}

h3 {
  font-size: 1.75rem;
  margin: 1.75rem 0;
}

h4 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

h5 {
  font-size: 1.25rem;
  margin: 1.25rem 0;
}

h6 {
  font-size: 1.1rem;
  margin: 1.1rem 0;
}

p > code {
  font-size: 1.2rem;
  background-color: #eeeeee;
  padding: 2px 5px;
  border-radius: 2px;
}

a > code {
  font-size: 1.1rem;
  background-color: #f3f3f3;
  padding: 1px 3px;
  border-radius: 2px;
}

/* p {
  white-space: normal;
  overflow-wrap: break-word;
}

code {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
} */
